<!DOCTYPE html>
<html lang="en">  
    <head>
        <title>good</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>A-CUTS</h1>
        Book right now for free
        <div1>
                <li>We cut both men and womens hair</li>
                <li>we also cut all type of hair styles</li>
                <li>We garunte a proffesional and safe enviorment</li>
        </div1>
        <div>
            <img src="combover.jpg" alt="combover hair" width="300" >
        </div>
        <div>
        <img src="curly.jpg" alt="curly hair" width="300" >

        </div>
        <div>
            <img src="short.jpg" alt="short hair" width="300" >
        </div>
        <div>
            <img src="extensions.jpg" alt="extensions hair" width="300" >
        </div>
        <div2>
            <a href="login.html"><img src="login.jpg" alt="login button" width = "300" ></a>
        </div2>
    </body>
</html>