<!DOCTYPE html>
<html lang="en">  
    <head>
        <title>Login in</title>
    </head>
    <body>
       <table>
           <thead>
               <th>Login in</th>
           </thead>
           <tbody>
               <tr>
                   <td>Username</td>
                   <td> 
                       <form> 
                           <input type="text" placeholder="input here" name="username">
                       </form>
                    </td>
               </tr>
               <tr>
                   <td>Password</td>
                   <td> 
                    <form> 
                        <input type="password" placeholder="input here" name="username">
                        <input type="checkbox"></a>
                    </form>
                 </td>
               </tr>
           </tbody>
       </table>
    </body>
</html>